.contact__title{
  font-size: 25px;
  font-weight: 500;
}

.contact__title:after{
  content: "";
  background-color: $main-color;
  height: 10px;
  width: 100%;
  display: block;

  @media #{$medium-up}{
    width: 380px;
  }
}

.contact__form{
  display: flex;
  flex-direction: column;

  @media #{$large-up}{
    flex-direction: row;
  }
}

.contact__input{
  flex-basis: 60%;
  display: flex;
  flex-direction: column;
}

.contact__submit{
  flex-basis: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media #{$large-up}{
    padding-left: 30px;
  }

}

.contact__name{
  margin-top: 30px;
  margin-bottom: 15px;
  height: 50px;
  font-size: 30px;
  border: 1px solid $main-color;
  padding-left: 10px;
  color: #CBCBCB;
}

.contact__email{
  margin: 15px 0;
  height: 50px;
  font-size: 30px;
  border: 1px solid $main-color;
  padding-left: 10px;
  color: #CBCBCB;
}

.contact__textarea{
  margin-top: 15px;
  font-size: 30px;
  border: 1px solid $main-color;
  padding: 10px;
  color: #CBCBCB;
}

.contact__img{
  display: flex;
  flex-basis: 100%;

  @media #{$large-up}{
    flex-basis: 70%;
  }

  img{
    justify-content: center;
    width: 100%;
  }
}

.contact__checkbox {
  float: left;
  display: block;
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.contact__label{
  text-align: center;
  flex-basis: 15%;
  color: #CBCBCB;
  font-size: 25px;
  position: relative;
  padding-left: 45px;
  cursor: pointer;
  padding-top: 10px;
  padding-bottom: 20px;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 40px;
  width: 40px;
  background-color: #eee;
}

.contact__label:hover input ~ .checkmark {
  background-color: #CBCBCB;
}

.contact__checkbox:checked ~ .checkmark {
  background-color: #eee;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.contact__checkbox:checked ~ .checkmark:after {
  display: block;
}

.checkmark:after {
  left: 9px;
  top: 0;
  width: 15px;
  height: 25px;
  border: solid $main-color;
  border-width: 0 6px 6px 0;
  transform: rotate(45deg);
}

.contact__submited{
  flex-basis: 15%;
  background-color: $main-color;
  border-radius: 10px;
  width: 100%;
  height:50px;
  border: 2px solid #23B49B;
  font-size: 20px;
  color: white;
  transition-duration: 0.4s;

  @media #{$large-up}{
    width: 300px;
  }
}