.costs__background{
  padding: 40px 0;
  background-color: #F1F1F1;
}

.costs__title{
  font-size: 25px;
  font-weight: 500;
}

.costs__title:after{
  content: "";
  background-color: $main-color;
  height: 10px;
  width: 100%;
  display: block;

  @media #{$medium-up}{
    width: 380px;
  }
}

.costs__basic{
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #C2C2C2;
  position: relative;
  background-color: #F9F9F9;

  @media #{$large-up}{
    margin-top: 0;
  }
}

.costs__basic--title{
  color: $main-color;
  font-weight: 500;
  padding-top: 20px;
}

.costs__before{
  position: absolute;
  top: -30px;
  background-color: white;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  border: 1px solid #C2C2C2;
  z-index: 1;
}

.costs__before--circle{
  top: -20px;
  position: absolute;
  background-color: #C2C2C2;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  z-index: 2;
}

.costs__basic--prize{
  margin: 25px;
  padding: 17px;
  padding-right: 23px;
  border-radius: 50%;
  background-color: white;
  border: 1px solid #C2C2C2;
  width: 100px;
  height: 100px;
  text-align: center;
  color: #C2C2C2;
  font-size: 40px;
  position: relative;
}

.costs__prize--span1-1{
  position: absolute;
  top: 18px;
  font-size: 15px;
}

.costs__prize--span2{
  display: block;
  font-size: 15px;
}

.costs__basic--item1{
  width: 100%;
  background-color: #E4E4E4;
  text-align: center;
  padding: 8px;
  font-size: 20px;
  color: #919191;
}

.costs__basic--item2{
  font-size: 20px;
  padding: 8px;
  text-align: center;
  width: 100%;
  background-color: #F1F1F1;
  color: #7A7A7A;
}

.costs__basic--button{
  margin-top: 80px;
  margin-bottom: 15px;
  background-color: $main-color;
  border-radius: 10px;
  width: 100px;
  height:30px;
  border: none;
  font-size: 20px;
}

.basic__button--a{
  text-decoration: none;
  color: white;
}

.costs__standard{
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #C2C2C2;
  position: relative;
  background-color: #F9F9F9;

  @media #{$large-up}{
    margin-top: 0;
  }
}

.costs__standard--title{
  color: $main-color;
  font-weight: 500;
  padding-top: 20px;
}

.costs__standard--prize{
  margin: 25px;
  padding: 17px;
  padding-right: 23px;
  border-radius: 50%;
  background-color: white;
  border: 1px solid #C2C2C2;
  width: 100px;
  height: 100px;
  text-align: center;
  color: #C2C2C2;
  font-size: 40px;
  position: relative;
}

.costs__prize--span1-2{
  position: absolute;
  top: 18px;
  font-size: 15px;
}

.costs__prize--span2{
  display: block;
  font-size: 15px;
}

.costs__standard--item1{
  width: 100%;
  background-color: #E4E4E4;
  text-align: center;
  padding: 8px;
  font-size: 20px;
  color: #919191;
}

.costs__standard--item2{
  font-size: 20px;
  padding: 8px;
  text-align: center;
  width: 100%;
  background-color: #F1F1F1;
  color: #7A7A7A;
}

.costs__standard--item3{
  width: 100%;
  background-color: #E4E4E4;
  text-align: center;
  padding: 8px;
  font-size: 20px;
  color: #919191;
}

.costs__standard--button{
  margin-top: 44px;
  margin-bottom: 15px;
  background-color: $main-color;
  border-radius: 10px;
  width: 100px;
  height:30px;
  border: none;
  font-size: 20px;
}

.standard__button--a{
  text-decoration: none;
  color: white;
}

.costs__advance{
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #C2C2C2;
  position: relative;
  background-color: #F9F9F9;

  @media #{$large-up}{
    margin-top: 0;
  }
}

.costs__advance--title{
  color: $main-color;
  font-weight: 500;
  padding-top: 20px;
}

.costs__advance--prize{
  margin: 25px;
  padding: 17px;
  padding-right: 23px;
  border-radius: 50%;
  background-color: white;
  border: 1px solid #C2C2C2;
  width: 100px;
  height: 100px;
  text-align: center;
  color: #C2C2C2;
  font-size: 40px;
  position: relative;
}

.costs__prize--span1-3{
  position: absolute;
  top: 18px;
  right: 10px;
  font-size: 15px;
}

.costs__prize--span2{
  display: block;
  font-size: 15px;
}

.costs__advance--item1{
  width: 100%;
  background-color: #E4E4E4;
  text-align: center;
  padding: 8px;
  font-size: 20px;
  color: #919191;
}

.costs__advance--item2{
  font-size: 20px;
  padding: 8px;
  text-align: center;
  width: 100%;
  background-color: #F1F1F1;
  color: #7A7A7A;
}

.costs__advance--item3{
  width: 100%;
  background-color: #E4E4E4;
  text-align: center;
  padding: 8px;
  font-size: 20px;
  color: #919191;
}

.costs__advance--item4{
  font-size: 20px;
  padding: 8px;
  text-align: center;
  width: 100%;
  background-color: #F1F1F1;
  color: #7A7A7A;
}

.costs__advance--button{
  margin-top: 8px;
  margin-bottom: 15px;
  background-color: $main-color;
  border-radius: 10px;
  width: 100px;
  height:30px;
  border: none;
  font-size: 20px;
}

.advance__button--a{
  text-decoration: none;
  color: white;
}

.costs__basic:hover, .costs__standard:hover, .costs__advance:hover{
  background-color: $main-color;
  border: 1px solid $main-color;
}

.costs__basic:hover .costs__basic--title, .costs__standard:hover .costs__standard--title, .costs__advance:hover .costs__advance--title{
  color: white;
}

.costs__basic:hover .costs__basic--prize, .costs__standard:hover .costs__standard--prize, .costs__advance:hover .costs__advance--prize{
  color: $main-color;
}

.costs__basic:hover .costs__prize--span1-1, .costs__standard:hover .costs__prize--span1-2, .costs__advance:hover .costs__prize--span1-3{
  color: $main-color;
}

.costs__basic:hover .costs__prize--span2, .costs__standard:hover .costs__prize--span2, .costs__advance:hover .costs__prize--span2{
  color: $main-color;
}

.costs__basic:hover .costs__basic--button, .costs__standard:hover .costs__standard--button, .costs__advance:hover .costs__advance--button{
  background-color: white;
}

.costs__basic:hover .basic__button--a, .costs__standard:hover .standard__button--a, .costs__advance:hover .advance__button--a{
  color: $main-color;
}

.costs__basic:hover .costs__before, .costs__standard:hover .costs__before, .costs__advance:hover .costs__before{
  border: 1px solid $main-color;
}

.costs__basic:hover .costs__before--circle, .costs__standard:hover .costs__before--circle, .costs__advance:hover .costs__before--circle{
  background-color: $main-color;
}
