.footer__copyright--p{
  padding-top: 20px;
  color: #989898;
}

.footer__logo--p{
  padding-top: 20px;
}

.footer__logo--link{
  font-size: 20px;
  text-decoration: none;
  color: #989898;
}

.footer__logo--span{
  font-weight: 900;
}

.footer__img{
  display: flex;
  flex-direction: row;
}

.footer__flickr{
  background-image: url("../images/flickr.png");
  background-repeat: no-repeat;
  background-size: contain;
  width: 50px;
  height: 50px;
  display: block;
}

.footer__pinterest{
  background-image: url("../images/pinterest.png");
  background-repeat: no-repeat;
  background-size: contain;
  width: 50px;
  height: 50px;
  display: block;
}

.footer__vimeo{
  background-image: url("../images/vimeo.png");
  background-repeat: no-repeat;
  background-size: contain;
  width: 50px;
  height: 50px;
  display: block;
}

.footer__twitter{
  background-image: url("../images/twitter.png");
  background-repeat: no-repeat;
  background-size: contain;
  width: 50px;
  height: 50px;
  display: block;
}

.pulse1{
  border-radius: 50%;
  box-shadow: 0 0 0 rgba(244,1,131, 0.4);
  animation: pulse1 2s alternate;
}

@keyframes pulse1 {
  0% {
    box-shadow: 0 0 0 0 rgba(244,1,131, 0.4);
  }
  70% {
    box-shadow: 0 0 0 20px rgba(204,169,44, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(204,169,44, 0);
  }
}

.pulse2{
  border-radius: 50%;
  box-shadow: 0 0 0 rgba(67,177,223, 0.4);
  animation: pulse2 2s alternate;
}

@keyframes pulse2 {
  0% {
    box-shadow: 0 0 0 0 rgba(67,177,223, 0.4);
  }
  70% {
    box-shadow: 0 0 0 20px rgba(204,169,44, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(204,169,44, 0);
  }
}
.pulse3{
  border-radius: 50%;
  box-shadow: 0 0 0 rgba(201,38,42, 0.4);
  animation: pulse3 2s alternate;
}

@keyframes pulse3 {
  0% {
    box-shadow: 0 0 0 0 rgba(201,38,42, 0.4);
  }
  70% {
    box-shadow: 0 0 0 20px rgba(204,169,44, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(204,169,44, 0);
  }
}

.pulse4{
  border-radius: 50%;
  box-shadow: 0 0 0 rgba(67,177,223, 0.4);
  animation: pulse2 2s alternate;
}

@keyframes pulse4 {
  0% {
    box-shadow: 0 0 0 0 rgba(67,177,223, 0.4);
  }
  70% {
    box-shadow: 0 0 0 20px rgba(204,169,44, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(204,169,44, 0);
  }
}

