.gallery__img{
  position: relative;
}

.gallery__article{
  border: 1px solid #BCBCBC;
  padding: 20px;
}

.gallery__article--p{
  padding: 20px 0;
  color: #BCBCBC;
}

.img{
  width: 100%;
}

.gallery__underline{
  position: absolute;
  width: 100%;
  padding: 20px 30px;
  background-color: RGBa(255,255,255,0.4);
  text-decoration: none;
  bottom: 30px;
  color: black;
  font-weight: 500;

}

.gallery__underline:after{
  content: "";
  background-color: $main-color;
  height: 10px;
  width: 100%;
  display: block;

  @media #{$medium-up}{
    width: 180px;
  }
}

.gallery__article--underline{
  font-weight: 500;
}

.gallery__article--underline:after{
  content: "";
  background-color: $main-color;
  height: 10px;
  width: 100%;
  display: block;

  @media #{$medium-up}{
    width: 180px;
  }
}

@keyframes myAnimationIn{
  0%{
    opacity: 1;
  }
  50%{
    opacity: 0.5;
  }
  100%{
    display: none;
    opacity: 0;
  }
}

@keyframes myAnimationOut{
  0%{
    display: block;
    opacity: 0;
  }
  50%{
    opacity: 0.5;
  }
  100%{
    opacity: 1;
  }
}

.disappearing {
  animation-name: myAnimationIn;
  animation-duration: 400ms;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in;
}

.appearing{
  animation-name: myAnimationOut;
  animation-duration: 400ms;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in;
}