.header{
  background-color: black;
  z-index: 1000;
  left: 0;
  top: 0;

  @media #{$large-up} {
    width: 100%;
    position: fixed;
    padding-top: 0;
  }
}

.header__headline{
  padding-top: 10px;
  overflow: hidden;

  @media #{$large-up} {
    padding-top: 0;
  }
}

.header__headline--a{
  text-decoration: none;
  color: white;
  font-weight: 500;
  font-size: 20px;
}

.header__nav{
  display: block;
}

.header__headline--span{
  color: $main-color;
  font-weight: 500;
  font-size: 20px;
}

.header__list{
  padding: 10px;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}

.header__li{

  @media #{$large-up}{
    position: relative;
  }
}

.header__link{
  color: white;
  text-decoration: none;
  display: flex;
  justify-content: right;
  align-items: center;
}

.header__link--hover{
  transition: 0.5s;
  color: rgb(38, 191, 163);
}

.header__submenu{
  display: none;
  z-index: 100;

  @media #{$medium-up} {
    padding: 15px;
  }

  @media #{$large-up}{
    background-color: black;
    margin-top: 40px;
    left: calc(50% - 65px);
    position: absolute;
  }

}

.header__submenu:before{
  content: "";

  @media #{$large-up}{
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border: 8px solid transparent;
    border-bottom: 8px solid black;
    top: -14px;
    left: calc(50% - 8px);
  }
}

.header__submenu--li{
  list-style-type: none;
  padding: 10px;
}

.header__submenu--link{
  text-decoration: none;
  display: block;
  color: #989898;

  &-hover{
    color: #fff;
  }
}

.sidenav {
  height: 100vh;
  width: 40vw;
  position: absolute;
  z-index: 1;
  right: 0;
  background: linear-gradient(top, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 9%, rgba(71,71,71,1) 41%, rgba(71,71,71,1) 100%);
  border-left: 2px solid black;
  top: 101px;
  display: block;

  @media #{$medium-up} {
    width: 33vw;
    position: fixed;
  }
}

.sidenavLi {
  padding: 8px 8px 8px 8px;
  text-decoration: none;
  display: block;
  overflow: hidden;
  transition: 0.5s;

  @media #{$medium-up}{
    font-size: 25px;
    padding: 8px 8px 8px 32px;
  }
}

.header__link--arrow{
  margin-left: 2vw;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 12px solid #fff;
  transition: transform 0.6s ease-in-out;
}

.header__link--arrowChanged{
  border-top: 12px solid rgb(38, 191, 163);
  transition: 0.7s;
}

.rotation{
  transform: rotate(180deg);
}

.icon__sizing{
  font-size: 50px;
  color: #27C7AB;
  background-color: black;
}
.menu__btn {
  display: block;
  border: none;
  background-color: black;


  @media #{$large-up} {
    display: none;
  }
}

.menu__btn--effect{
  display: flex;
  justify-content: flex-end;
}

.shadow{
  &::after{
    content: "";
    position: absolute;
    top: 101px;
    height: 100%;
    width: 67vw;
    left: 0;
    background: rgba(0,0,0,0.1);

    @media #{$large-up}{
    }
  }
}


.pageScroll{
 overflow: hidden
}
